@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  * {
    font-family: var(--font-hind-siliguri), sans-serif;
  }
  body {
    @apply bg-gradient-to-br from-primary-50 via-white to-accent-50 text-gray-900;
    @apply min-h-screen;
    font-family: var(--font-hind-siliguri), sans-serif;
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

